<launch>
    <group ns="heron01">    
        <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
            <param name="xmin" value="-5"/>
            <param name="xmax" value="5"/>
            <param name="ymin" value="-5"/>
            <param name="ymax" value="5"/>
        </node>
    </group>
  
</launch>