<launch>
    <group ns="heron01">

        <node name="xbox_controler" pkg="joy" type="joy_node" />
        <node name="controller" pkg="heron" type="controller.py" output="screen"/> 

        <node name="drive" pkg="heron" type="drive" output="screen">
		    <param name="frontDriver_port" value="/dev/ttyACM1" />
		    <param name="backDriver_port" value="/dev/ttyACM0" />	
	    </node> 

    </group>

</launch>
