<launch>
    <group ns="$ (optenv HERON_ID 0)">

        <param name="frontDriver_port" type="string" value="/dev/roboteq_front" />
		<param name="backDriver_port" type="string" value="/dev/roboteq_back" />	

        <include file="$(find heron)/src/launch/xboxController.launch" /> 

        <node name="winch" pkg="heron" type="winch.py" output="screen" /> 

        <node name="drive" pkg="heron" type="drive" output="screen" respawn="true" />

    </group>

</launch>
