<launch>
    <group ns="heron01">

        <param name="frontDriver_port" type="string" value="/dev/roboteq_front" />
		<param name="backDriver_port" type="string" value="/dev/roboteq_back" />	

        <node name="xbox_controler" pkg="joy" type="joy_node" respawn="true" >
            <param name="dev" type="string" value="/dev/input/js0" />
            <param name="autorepeat_rate" value="2" />
        </node>

        <node name="controller" pkg="heron" type="controller.py"  /> 

        <node name="drive" pkg="heron" type="drive" output="screen" respawn="true" />
        
        <node name="odom" pkg="heron" type="odom" output="screen" respawn="true" />


        <node name="lpms_imu" pkg="lpms_imu" type="lpms_imu_node" output="screen" respawn="true" />

        
        <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
            <param name="serial_port" type="string" value="/dev/lidar"/>
            <param name="serial_baudrate" type="int" value="256000"/>
            <param name="frame_id" type="string" value="laser"/>
            <param name="inverted" type="bool" value="false"/>
            <param name="angle_compensate" type="bool" value="true"/>
            <param name="scan_mode" type="string" value="Sensitivity"/>
            
            <remap from="scan" to="rough_scan" />
        </node>

        <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
            <rosparam command="load" file="$(find heron)/config/laser_filter/range_filter.yaml" />
            <remap from="scan" to="rough_scan" />
            <remap from="scan_filtered" to="scan" />
        </node>

        <node name="tf_broadcaster" pkg="heron" type="tf_broadcaster" respawn="true" />

    </group>

</launch>
