<launch>

   <node name="map_server" pkg="map_server" type="map_server" args="$(find heron)/map/arene.pgm 0.05">
      <param name="frame_id" value="/map" />
   </node>

   <group ns="$(optenv HERON_ID Heron00)">

      <include file="$(find heron)/src/launch/move_base.launch" />  
      <include file="$(find heron)/src/launch/amcl.launch" />  

   </group>

</launch> 
