<launch>
 
    <arg name="robot_name"/>

    <node name="map_server" pkg="map_server" type="map_server" ns="$(arg robot_name)" args="$(find heron)/map/demo.pgm 0.05" >
        <param name="frame_id" value="$(optenv HERON_TF Heron00)/map" />
    </node>

    <node name="simple_navigation_goal" pkg="heron" type="simple_navigation_goal" ns="$(arg robot_name)"/> 

    <node name="recordPositions" pkg="heron" type="recordPositions.py" ns="$(arg robot_name)"/>

    <include file="$(find heron)/src/launch/move_base.launch">
         <arg name="namespace_prefix" value="$(arg robot_name)"/>
    </include>


    <include file="$(find heron)/src/launch/amcl.launch">
         <arg name="robot_namespace" value="$(arg robot_name)"/>
    </include>
 

</launch>
