<launch>
    <group ns="heron01">

        <param name="frontDriver_port" type="string" value="/dev/roboteq_front" />
		<param name="backDriver_port" type="string" value="/dev/roboteq_back" />	

        <node name="xbox_controler" pkg="joy" type="joy_node" respawn="true" >
            <param name="dev" type="string" value="/dev/input/js0" />
            <param name="autorepeat_rate" value="2" />
        </node>

        <node name="controller" pkg="heron" type="controller.py"  /> 

        <node name="drive" pkg="heron" type="drive" output="screen" respawn="true" />
        
        <node name="odom" pkg="heron" type="odom" output="screen" respawn="true" />

    </group>

</launch>
