<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.0-0-g9aa0fdb  Build Version: 1.5.7004.21443
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="heron_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0.1"
        rpy="0 0 1.57079" />
      <mass
        value="25" />
      <inertia
        ixx="4.73345232681242"
        ixy="-6.13913566072873E-06"
        ixz="-1.89872416704455E-05"
        iyy="6.95202353462315"
        iyz="-8.07624704791103E-06"
        izz="3.18752499734018" /> 
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.1"
        rpy="0 0 1.57079" />
      <geometry>
        <mesh
          filename="package://heron/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_FL">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.389968906998643" />
      <inertia
        ixx="0.000322138046158454"
        ixy="-6.65852858947508E-37"
        ixz="-1.86618052242594E-37"
        iyy="0.00048299257130799"
        iyz="5.80382085092595E-22"
        izz="0.000322138046158454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_FL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_FL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_FL"
    type="revolute">
    <origin
      xyz="0.349955093786635 0.161235 0.0389231535756156"
      rpy="1.5707963267949 1.5707963267949 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_FL" />
    <axis
      xyz="0 1 0" />
    <safety_controller
      k_velocity="0" />
    <limit effort="9.1201845" lower="0.0" upper="0.0" velocity="8.79645942"/>
  </joint>
  <link
    name="wheel_FR">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.389968906998643" />
      <inertia
        ixx="0.000322138046158454"
        ixy="-6.65852858947508E-37"
        ixz="-1.86618052242594E-37"
        iyy="0.00048299257130799"
        iyz="5.80382085092594E-22"
        izz="0.000322138046158454" />  
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_FR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_FR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_FR"
    type="revolute">
    <origin
      xyz="0.349955094 -0.211235 0.0389231535756156"
      rpy="1.5707963267949 1.5707963267949 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_FR" />
    <axis
      xyz="0 1 0" />
    <safety_controller
      k_velocity="0" />
    <limit effort="9.1201845" lower="0.0" upper="0.0" velocity="8.79645942"/>
  </joint>
  <link
    name="wheel_BL">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.389968906998643" />
     <inertia
        ixx="0.000322138046158454"
        ixy="-6.65852858947508E-37"
        ixz="-1.86618052242594E-37"
        iyy="0.00048299257130799"
        iyz="5.80382085092595E-22"
        izz="0.000322138046158454" />   
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_BL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_BL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_BL"
    type="revolute">
    <origin
      xyz="-0.050044906213365 0.161235 0.0389231535756156"
      rpy="1.5707963267949 1.5707963267949 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_BL" />
    <axis
      xyz="0 1 0" />
    <safety_controller
      k_velocity="0" />
    <limit effort="9.1201845" lower="0.0" upper="0.0" velocity="8.79645942"/>
  </joint>
  <link
    name="wheel_BR">
    <inertial>
      <origin
        xyz="0 -0.0449492471492921 0"
        rpy="0 0 0" />
      <mass
        value="0.389968906998643" />
      <inertia
        ixx="0.000322138046158454"
        ixy="-6.65852858947508E-37"
        ixz="-1.86618052242594E-37"
        iyy="0.00048299257130799"
        iyz="5.80382085092595E-22"
        izz="0.000322138046158454" /> 
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_BR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://heron/meshes/wheel_BR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_BR"
    type="revolute">
    <origin
      xyz="-0.050044906213365 -0.211235 0.0389231535756156"
      rpy="1.5707963267949 1.5707963267949 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_BR" />
    <axis
      xyz="0 1 0" />
    <safety_controller
      k_velocity="0" />
    <limit effort="9.1201845" lower="0.0" upper="0.0" velocity="8.79645942"/>
  </joint>
</robot>
